

@{
    ViewData["Title"] = "Job Post";
}

<h1 class="text-center">Job Post</h1>

<section>
    <header class="jobHeader">
        <h2>Job Post</h2>
        <input type="button" hidden id="saveForOffline" value="💾" aria-label="Save for Offline" />
        <input type="button" hidden id="copyToClipboard" value="📋" aria-label="Cop Link to Clipbard" />
    </header>
</section>
<section>
    <h3>Job Description</h3>
    <p> Global Technology Services (GTS) – Enterprise Process Management and Compliance (EPMC) is responsible for the design, management, implementation and oversight for Enterprise Information Technology Service Management (ITSM) policies and processes for adherence and compliance.  We build a collaborative working relationship with teams (internal and external) to ensure there is a cohesive approach to the improvements needed in the Service Management discipline.  The team is accountable for implementation of industry best practices at enterprise level to bring consistent execution of process. </p>
 <dialog id="clipboardPerms">
    <h3> Welcome to the job portal </h3>
    <p> We are technology partners who help the business transform how our employees around the world work </p>
</dialog>


